body {
    margin: 0 auto;

}

/* hero part */
nav {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

nav .text {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;

}

.menu a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
}

/* banner part */

.banner {
    margin: 0 auto;
    max-width: 1155px;
    display: flex;
    margin-bottom :69px;
    ;

}

.banner-titel {
    width: 582px;
    margin-right: 133px;


}

.banner-titel h2 {
    font-size: 52px;
    font-weight: 500;
}

.banner-titel p {
    font-size: 16px;
    color: #3A3A3A;
    font-weight: 300;
}

.btn {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    border: none;
}

.images {
    background-image: url('../images/Circle\ design.svg');

}

/* logo section */
.logo {

    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    align-items: center;
    margin-top: 100px;
    box-shadow: 0px 4px 4px 0px #00000036;
   


}

/* card-section */
.card-section {
    max-width: 1047px;
    margin: 0 auto;


}

.card-section h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    padding: 15px 15px;
    box-shadow: 0 4px 4px 0 #00000062;
    border-radius: 5px;
    
    background-color: #FFFFFF;
    width: 329px;
}

.card img {
    width: 100%;
}

.Product-name {
    font-size: 28px;
    font-weight: 400;
    color: #18191F;
}

.description {
    text-align: left;
}

.see {
    text-align: right;

}

.see a {
    color: #E02C6D;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
}

.last-banner {
    width: 1110px;
    display: flex;
    margin: 0 auto;
    gap: 96px;
}

footer {
    width: 100%;
    margin: 0 auto;
    background-color: navy;
    text-align: center;
    color: white;
    padding:  40px 0;
}